* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #f0f0f0;
    /* optional: change or remove */
}


canvas {
    display: block;
}